/hexlet-go-crawler
/hexlet-go-crawler.exe
cmd/hexlet-go-crawler/hexlet-go-crawler
cmd/hexlet-go-crawler/hexlet-go-crawler.exe

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.prof
*.cov
*.cover
coverage.txt
cover.html

/vendor/

.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

*.log

tmp/
temp/

.env
.env.local
.env.*.local

go.sum